.movies-grid {
    width: 89%;
    margin: 0 70px;
    padding-top: 70px;
    padding-bottom: 10px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 31%);
}

.movies__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search__info {
    margin-bottom: 64px;
}

@media screen and (max-width: 965px) {
    .movies-grid {
        column-gap: 24px;
        row-gap: 35px;
        grid-template-columns: repeat(2, 48%);
    }
}

@media screen and (max-width: 768px) {
    .movies-grid {
        margin: 0 30px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 550px) {
    .movies-grid {
        padding-top: 40px;
        margin: 0 14px;
        gap: 16px;
        grid-template-columns: repeat(1, 292px);
        justify-content: center;
    }
}