.techs {
    background-color: #F5F5F5;
    min-height: 625px;
}

.techs__title {
    margin: 0;
    margin-left: 70px;
    padding-top: 100px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.techs__description {
    margin: 23px 70px 0 70px;
    padding-top: 90px;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.techs__description-title {
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
}

.techs__description-subtitle {
    padding: 0;
    margin: 26px 0 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.techs__description-list {
    margin: 100px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.techs__description-list-item {
    width: 90px;
    height: 60px;
    background-color: #E8E8E8;
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
