.about-me {
    min-height: 554px;
    margin: 0 70px;
}

.about-me__title {
    margin: 0;
    padding-top: 110px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.04em;
}

.about-me__student {
    margin: 23px 0 0 0;
    padding-top: 66px;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    min-height: 327px;
}

.about-me__student-resume {
    width: 600px;
}

.about-me__student-name {
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
}

.about-me__student-prof {
    margin: 18px 0 0 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.about-me__student-bio {
    margin: 26px 0 99px 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.about-me__student-github {
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.about-me__student-github:hover {
    cursor: pointer;
    opacity: 0.7;
}

.about-me__student-photo {
    width: 270px;
    background-image: url(../../../images/student-avatar.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

@media screen and (max-width: 1020px) {
    .about-me__student-photo {
        margin-left: 15px;
    }
}

@media screen and (max-width: 860px) {
    .about-me {
        min-height: 514px;
        margin: 0 50px;
    }

    .about-me__title {
        padding-top: 90px;
    }

    .about-me__student {
        min-height: 307px;
    }

    .about-me__student-resume {
        width: 364px;
    }

    .about-me__student-name {
        font-size: 40px;
        line-height: 40px;
    }

    .about-me__student-prof {
        margin-top: 16px;
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__student-bio {
        margin: 20px 0 87px 0;
        font-size: 12px;
        line-height: 18px;
    }

    .about-me__student-github {
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
    }

    .about-me__student-photo {
        width: 255px;
    }
}

@media screen and (max-width: 600px) {
    .about-me__student {
        flex-direction: column;
    }

    .about-me__student-photo {
        height: 307px;
        order: -1;
        margin-bottom: 40px;
        margin-left: 0;
    }
}

@media screen and (max-width: 420px) {
    .about-me {
        min-height: 834px;
        margin: 0 18px;
    }

    .about-me__title {
        padding-top: 70px;
        font-size: 18px;
        line-height: 22px;
    }

    .about-me__student {
        min-height: none;
    }

    .about-me__student-resume {
        width: 292px;
    }

    .about-me__student-photo {
        width: 292px;
        height: 352px;
    }

    .about-me__student-name {
        font-size: 30px;
        line-height: 36px;
    }

    .about-me__student-prof {
        margin-top: 20px;
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__student-bio {
        margin-bottom: 40px;
        font-size: 11px;
        line-height: 16px;
    }
}